# Deliverables:

- Submit a single zip-compressed file that has the name: YourLastName_Exercise_1 that has the following files:

 1. Your **HTML document** that has your Source code and output
 2. Your **ipynb script** that has your Source code and output


# Objectives:

In this exercise, you will:

 - Perform data analysis tasks on data read from a CSV file and loaded into a DataFrame object
 - Use SQLAlchemy load data stored in a DatFrame object into sqlite database engine
 - Use SQLAlchemy to connect to sqlite database engine to execute  SQL  queries




# Submission Formats :

Create a folder or directory with all supplementary files with your last name at the beginning of the folder name, compress that folder with zip compression, and post the zip-archived folder under the assignment link in Canvas. The following files should be included in an archive folder/directory that is uploaded as a single zip-compressed file. (Use zip, not StuffIt or any 7z or any other compression method.)


1. Complete IPYNB script that has the source code in Python used to access and analyze the data. The code should be submitted as an IPYNB script that can be loaded and run in Jupyter Notebook for Python
2. Output from the program, such as console listing/logs, text files, and graphics output for visualizations. If you use the Data Science Computing Cluster or School of Professional Studies database servers or systems, include Linux logs of your sessions as plain text files. Linux logs may be generated by using the script process at the beginning of your session, as demonstrated in tutorial handouts for the DSCC servers.


Formatting Python Code
When programming in Python, refer to Kenneth Reitz’ PEP 8: The Style Guide for Python Code:
http://pep8.org/ (Links to an external site.)Links to an external site.
There is the Google style guide for Python at
https://google.github.io/styleguide/pyguide.html (Links to an external site.)Links to an external site.

**Comment often and in detail.**

In [1]:
import os

import  pickle

import pandas as pd  # panda's nickname is pd

import numpy as np  # numpy as np

from pandas import DataFrame, Series     # for convenience

In [2]:
xyzcust10=pd.read_csv('xyzcust10.csv')

In [3]:
(xyzcust10).dtypes

ACCTNO                    object
ZIP                        int64
ZIP4                       int64
LTD_SALES                float64
LTD_TRANSACTIONS           int64
YTD_SALES_2009           float64
YTD_TRANSACTIONS_2009      int64
CHANNEL_ACQUISITION       object
BUYER_STATUS              object
ZIP9_Supercode             int64
ZIP9_SUPERCODE             int64
dtype: object

In [4]:
type(xyzcust10)

pandas.core.frame.DataFrame

In [5]:
pickle.dump(xyzcust10,open('xyzcust10.p','wb'))

In [6]:
xyzcust10=pickle.load(open('xyzcust10.p','rb'))	

xyzcust10red = xyzcust10.copy()	# by default makes a “deep” copy

xyzcust10rev1=xyzcust10.copy()	# by default makes a “deep” copy


The above assumes that xyzcust10.p is in your default directory.  Otherwise, you'll need to include a path specification, of course.

xyzcust10 should be a pandas DataFrame:

In [7]:
type(xyzcust10)

pandas.core.frame.DataFrame

In [8]:
xyzcust10.head()

,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_Supercode,ZIP9_SUPERCODE
0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016,600845016
1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750,600911750
2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900,600670900
3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838,600683838
4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932,600903932

xyzcust10 appears to have two nine-digit ZIP “supercode” columns with slightly different column labels or names.  To see them, try entering xyzcust10.columns or xyzcust10.dtypes at the command prompt.  Are the values in these two columns the same?  If so, we can get rid of one of them.  There are different ways we can figure out whether they are the same, but a simple way is to test each pair of values to see if they are equal or not, and then to total up the results, the number of equal pairs or not equal pairs:

In [9]:
xyzcust10.columns

Index(['ACCTNO', 'ZIP', 'ZIP4', 'LTD_SALES', 'LTD_TRANSACTIONS',
       'YTD_SALES_2009', 'YTD_TRANSACTIONS_2009', 'CHANNEL_ACQUISITION',
       'BUYER_STATUS', 'ZIP9_Supercode', 'ZIP9_SUPERCODE'],
      dtype='object')

In [10]:
xyzcust10.dtypes

ACCTNO                    object
ZIP                        int64
ZIP4                       int64
LTD_SALES                float64
LTD_TRANSACTIONS           int64
YTD_SALES_2009           float64
YTD_TRANSACTIONS_2009      int64
CHANNEL_ACQUISITION       object
BUYER_STATUS              object
ZIP9_Supercode             int64
ZIP9_SUPERCODE             int64
dtype: object

In [11]:
(xyzcust10.ZIP9_Supercode!=xyzcust10.ZIP9_SUPERCODE).sum()

0

which will return zero if the values in the two columns are the same.  What result do you get?

Note that what's going on here is that what's in the parentheses is a logical test of inequality between the two columns of the DataFrame (which are also pandas Series objects), which results in a Series of true or false Boolean values.  The post-pended .sum() function adds up over the Series by treating the Trues as 1's, and the Falses as 0's.  So if the result is zero, the two Series are identical, except for their names, of course.



We could have also expressed the logical comparison in the parens as 
(~(xyzcust10.ZIP9_Supercode==xyzcust10.ZIP9_SUPERCODE))

to get the same result, since the the “twidddle,” the ~, works in some pandas contexts as “not.”  What kind of result do you think you'd get with the following variation:

	~(xyzcust10.ZIP9_Supercode==xyzcust10.ZIP9_SUPERCODE).sum()

Why might it be different?

Note that we could have referred to the columns differently, for example:

			xyzcust10['ZIP9_Supercode']

Columns in DataFrames can be referred to in different ways.  We'll see more of them going forward.

In [12]:
 xyzcust10['ZIP9_Supercode']

0        600845016
1        600911750
2        600670900
3        600683838
4        600903932
5        600858670
6        600913447
7        600911613
8        600683668
9        600911759
10       600818325
11       600562960
12       600912813
13       600673528
14       600603209
15       600891326
16       600692129
17       600911453
18       600682219
19       600624628
20       600912346
21       600614527
22       600612123
23       600894622
24       600626077
25       600818248
26       600932706
27       600623210
28       600933840
29       600905705
           ...
30441    600987410
30442    600987615
30443    600988020
30444    600988426
30445    600988550
30446    600987893
30447    600987977
30448    600987805
30449    600988014
30450    600988671
30451    600988128
30452    600988760
30453    600988093
30454    600987108
30455    600987552
30456        60098
30457    600989172
30458    600988958
30459    600989029
30460    600987869
30461    600982556
30462    600980142
30463    600982857
30464    600983342
30465    600987858
30466    600983951
30467    600989681
30468    600983858
30469    600987927
30470    600984160
Name: ZIP9_Supercode, Length: 30471, dtype: int64

So, Oops!  Someone included the same column in the data twice, but with slightly different names. Why waste the space?  Why risk confusion?  Let's get rid of one of them:

We could do:

In [13]:
del xyzcust10['ZIP9_Supercode']
del xyzcust10rev1['ZIP9_Supercode']

or

In [14]:
xyzcust10red.drop('ZIP9_Supercode',axis=1,inplace=True)

Next we're going to shift gears and gobble up some transaction data for XYZ's customers.  They are in a table in a SQLite3 relational database (“RDB”) file that's called xyz.db.  This file is available to you on Canvas.  At this point you might want to pickle xyzcust10rev1 in case you need to end your session and start again later.  Remember that things in a Python session are not permanent.

To make things simple you'll want to put the xyz.db file in a place where you can find it easily.  Your default directory would be a good bet.Remember what it is?  See what os.getcwd() tells you.

In [15]:
# os.getcwd()

If you installed the sqlite3 client, you can take a look at this database (“DB”) using it and without using Python. sqlSQLite3 is a very simple and easy to use RDB, and it doesn't require a server.  Assuming that you've installed it and that you're in the directory were you put xyztrans.db, using the command from your OS command prompt:

c:\bader\nu\420\ExercisePractices\ExercisePractice3>sqlite3 xyz.db
SQLite version 3.8.8.3 2015-02-25 13:29:11
Enter ".help" for usage hints.
sqlite>

will start sqlite3 and open the db file.  You can see the tables in this db with the sqlite3 command .tables .  (That's a period, “.” before tables. “Help” in sqlSQLite3 is .help  .)

sqlite> .tables
xyztrans
sqlite>

There are a couple of different ways to read and write data to RDBs using Python, but the most flexible and easiest may be by using what's in pandas.  pandas will make use of the SQLAlchemy package, which is available for installation within Canopy.  (Did you install it in Session 1?)  SQLAlchemy provides a consistent interface with different RDBs, SQLite being one of them.

Let's get SQLAlchemy into our IPython session:

In [16]:
import sqlalchemy

Now if you do the sqlalchemy.<tab> trick from the command prompt, you'll be able to see SQLAlchemy's various (and many) attributes and functions.

To simplify things, let's get a function out of SQLAlchemy that we'll use to define the SQLite3 db we'll be working with:

In [19]:
from sqlalchemy import create_engine

Now let's specify the xyz db as the SQLite3 RDB we want to work with:

In [20]:
engine=create_engine('sqlite:///xyz.db')

This assumes that you have xyz.db in your current working directory.  There are different valid syntaxes, e.g.

sqlite:///:memory: (or, sqlite://) 
sqlite:///relative/path/to/file.db 
sqlite:////absolute/path/to/file.db 

We used the second syntax, above.  Be sure to use the correct number of slashes for the version you want to use.  You need the enclosing single quotes, too.

There's only one table in this RDB.  It's called “xyztrans.” Let's read it into a DataFrame:

In [21]:
xyztrans=pd.read_sql('xyztrans', engine)

xyztrans is a DataFrame.  This defaults to reading all records from the db.  What columns have been read from the table xyztrans?  Try:

In [22]:
xyztrans.dtypes

index             int64
ACCTNO           object
QTY               int64
TRANDATE         object
TRAN_CHANNEL     object
PRICE           float64
TOTAMT          float64
ORDERNO          object
DEPTDESCR        object
dtype: object

or

In [23]:
xyztrans.columns

Index(['index', 'ACCTNO', 'QTY', 'TRANDATE', 'TRAN_CHANNEL', 'PRICE', 'TOTAMT',
       'ORDERNO', 'DEPTDESCR'],
      dtype='object')

This db has only one table in it.  What if it had more than one, and you didn't know their names?  How would you know? Well, one way is to read some “metadata” from it:

In [24]:
from sqlalchemy import schema

In [25]:
xyzMetaData=schema.MetaData(bind=engine)
xyzMetaData.reflect()

In [26]:
xyzMetaData.tables

immutabledict({'xyzcust': Table('xyzcust', MetaData(bind=Engine(sqlite:///xyz.db)), Column('index', BIGINT(), table=<xyzcust>), Column('ACCTNO', TEXT(), table=<xyzcust>), Column('ZIP', BIGINT(), table=<xyzcust>), Column('ZIP4', BIGINT(), table=<xyzcust>), Column('LTD_SALES', FLOAT(), table=<xyzcust>), Column('LTD_TRANSACTIONS', BIGINT(), table=<xyzcust>), Column('YTD_SALES_2009', FLOAT(), table=<xyzcust>), Column('YTD_TRANSACTIONS_2009', BIGINT(), table=<xyzcust>), Column('CHANNEL_ACQUISITION', TEXT(), table=<xyzcust>), Column('BUYER_STATUS', TEXT(), table=<xyzcust>), Column('ZIP9_SUPERCODE', BIGINT(), table=<xyzcust>), schema=None), 'xyztrans': Table('xyztrans', MetaData(bind=Engine(sqlite:///xyz.db)), Column('index', BIGINT(), table=<xyztrans>), Column('ACCTNO', TEXT(), table=<xyztrans>), Column('QTY', BIGINT(), table=<xyztrans>), Column('TRANDATE', TEXT(), table=<xyztrans>), Column('TRAN_CHANNEL', TEXT(), table=<xyztrans>), Column('PRICE', FLOAT(), table=<xyztrans>), Column('TOTAMT', FLOAT(), table=<xyztrans>), Column('ORDERNO', TEXT(), table=<xyztrans>), Column('DEPTDESCR', TEXT(), table=<xyztrans>), schema=None)})


xyzMetaData.tables will be a dict that contains information about the db.  Tables will be keys in this dict:

In [27]:
xyzMetaData.tables.keys()

dict_keys(['xyzcust', 'xyztrans'])


At this point there's only one table name, 'xyztrans,” in xyz.db.  You'll see another method for inspecting DB's below.

We're going to write the xyz customer records into a new table in the sqlite3 RDB, but before we do that let's make sure that the records are unique, that is, that no customer has more than one record.   We can do this with some pandas DataFrame methods.  Using the customer DataFrame xyzcust10rev1

In [28]:
xyzcust10rev1.duplicated().sum()

292

will return a zero if all records are unique, or the number of rows in xyzcust10rev1 that are duplicates.  The reason is that the duplicated() method for the DataFrame returns a Series of Trues and Falses, a Boolean Series.  Summing over the Series forces the values to be cast as numeric.

Oops.  There are some duplicates.  How many duplicates do you find in xyzcust10rev1?

To rid a DataFrame of unduplicated rows,

In [29]:
xyzcustUnDup=xyzcust10rev1.drop_duplicates()

xyzcustUnDup.duplicated().sum()

0


How many unique customer records do you now have?  By the way, note that you could have limited your examination to just one or more columns, for example just ACCTNO, customer account number, by providing ACCTNO as an argument or by using it to define a Series:

In [30]:
xyzcust10rev1.duplicated('ACCTNO').sum()

292

In [31]:
xyzcust10rev1.ACCTNO.duplicated().sum()

292


When there are duplicates of a record, which of them do you think .drop_duplicates() retains?

Now that we've checked for, and have removed, duplicate customer records, from the customer records, let's write them into a new table in xyztrans.db.

In [32]:
xyzcustUnDup.to_sql('xyzcust', engine)

ValueError: Table 'xyzcust' already exists.

Did it create the table in xyz.db?  Check:

In [33]:
pd.read_sql_table('xyzcust', engine).columns

Index(['index', 'ACCTNO', 'ZIP', 'ZIP4', 'LTD_SALES', 'LTD_TRANSACTIONS',
       'YTD_SALES_2009', 'YTD_TRANSACTIONS_2009', 'CHANNEL_ACQUISITION',
       'BUYER_STATUS', 'ZIP9_SUPERCODE'],
      dtype='object')

should produce the columns of the DataFrame you wrote to the db.  Remember that “engine” refers to the SQLite3 DB by way of defining the connection using SQLAlchemy's create_engine method.

How many tables are there now in xyz.db?  And, what are their names? Do

In [34]:
xyzMetaData.tables.keys()

dict_keys(['xyzcust', 'xyztrans'])

Another way to look at the metadata of an RDB using SQLAlchemy is by using the “inspect” method:

In [35]:
xyzMetaData

MetaData(bind=Engine(sqlite:///xyz.db))

In [36]:
from sqlalchemy import inspect

In [37]:
insp=inspect(engine)

In [38]:
 insp.get_table_names()

['xyzcust', 'xyztrans']


Do you think there are any duplicates in the order transaction data?  If so, what would you make of them?

You can use SQLAlchemy to query a DB so as to import selected records from an RDB.  You can also append records to existing tables in an RDB, create various kinds of DB indexes, and pretty much do everything you would do using standard SQL while interacting with an RDB using a client for it.   As a query example, suppose we wanted to select from the xyz tranaction data in the xyztrans.db all transactions made in XYZ's retail stores.  These are coded as RT in the table's TRAN_CHANNEL.  We could do:

In [39]:
rttrans=pd.read_sql_query("SELECT * FROM xyztrans WHERE TRAN_CHANNEL='RT'", engine)



A last point about SQLAlchemy:  it has its own declarative language that provides means of interacting with DB's that is more “object oriented” than traditional SQL is.  You can find lots of documentation about SQLAlchemy at http://www.sqlalchemy.org.

In [40]:
rttrans

,index,ACCTNO,QTY,TRANDATE,TRAN_CHANNEL,PRICE,TOTAMT,ORDERNO,DEPTDESCR
0,0,WGDQLA,1,09JUN2009,RT,599.85,599.85,CCXXNNXXXXUX,Home Audio
1,1,WGDQLA,1,09JUN2009,RT,39.00,39.00,CCXXNNXXXXUX,Small Appliances
2,2,WGDQLA,1,28NOV2009,RT,15.00,15.00,CCXNXXKXXXRI,Small Appliances
3,3,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
4,4,WGDQLA,1,28NOV2009,RT,84.00,84.00,CCXNXXKXXXRI,Small Appliances
5,5,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
6,6,WGDQLA,1,28NOV2009,RT,89.85,89.85,CCXNXXKXXXRI,Small Appliances
7,7,WGDQLA,1,28NOV2009,RT,119.85,119.85,CCXNXXKXXXRI,Home Audio
8,8,APSYYW,1,07JUN2009,RT,22.50,22.50,CCXNKNNXXXNC,Mobile Electronic Accessories
9,9,APSYYW,1,07JUN2009,RT,44.85,44.85,CCXNKNNXXXNC,Mobile Electronic Accessories
10,10,APSYYW,1,07JUN2009,RT,30.00,30.00,CCXNKNNXXXNC,Mobile Electronic Accessories
11,11,APSYYW,1,07JUN2009,RT,30.00,30.00,CCXNKNNXXXNC,Mobile Electronic Accessories
12,13,GGDWGY,1,14SEP2009,RT,239.85,239.85,CCXZZKRXXXKI,Home Audio
13,14,GGDWGY,1,18DEC2009,RT,234.00,234.00,CCXCUKRXXXVI,Portable Electronics
14,15,HHSSAL,1,13SEP2009,RT,66.00,66.00,CCXZVKRXXXNI,Small Appliances
15,16,HHSSAL,1,13SEP2009,RT,66.00,66.00,CCXZVKRXXXNI,Small Appliances
16,17,HHSSAL,1,13SEP2009,RT,38.25,38.25,CCXZVKRXXXNI,Mobile Electronic Accessories
17,18,HHSSAL,1,13SEP2009,RT,28.50,28.50,CCXZVKRXXXNI,Mobile Electronic Accessories
18,19,HHSSAL,1,13SEP2009,RT,43.50,43.50,CCXZVKRXXXNI,Mobile Electronic Accessories
19,20,HHSSAL,1,13SEP2009,RT,24.00,24.00,CCXZVKRXXXNI,Small Appliances
20,21,HHSSAL,1,13SEP2009,RT,42.00,42.00,CCXZVKRXXXNI,Mobile Electronic Accessories
21,22,HHSSAL,1,13SEP2009,RT,38.85,38.85,CCXZVKRXXXNI,Mobile Electronic Accessories
22,23,HHSSAL,1,13SEP2009,RT,105.00,105.00,CCXZVKRXXXNI,Small Appliances
23,24,HHSSAL,1,13SEP2009,RT,30.00,30.00,CCXZVKRXXXNI,Mobile Electronic Accessories
24,25,HHSSAL,1,13SEP2009,RT,32.85,32.85,CCXZVKRXXXNI,Mobile Electronic Accessories
25,26,HHSSAL,1,13SEP2009,RT,84.00,84.00,CCXZVKVXXXNI,Mobile Electronic Accessories
26,27,HHSSAL,1,18DEC2009,RT,28.50,28.50,CCXCURUXXXVI,Mobile Electronic Accessories
27,28,HHSSAL,1,18DEC2009,RT,43.50,43.50,CCXCURUXXXVI,Mobile Electronic Accessories
28,29,HHSSAL,1,18DEC2009,RT,27.00,27.00,CCXCURUXXXVI,Small Appliances
29,30,HHSSAL,1,18DEC2009,RT,31.50,31.50,CCXCURUXXXVI,Mobile Electronic Accessories
...,...,...,...,...,...,...,...,...,...
53781,62350,GYLAPPYPQ,1,11OCT2009,RT,59.85,59.85,CCXINNVXXXKC,Small Appliances
53782,62351,GYLAPPYPQ,1,11OCT2009,RT,126.00,126.00,CCXINNVXXXKC,Small Appliances
53783,62352,GYLAPPYPQ,1,11OCT2009,RT,81.00,81.00,CCXINNVXXXKC,Small Appliances
53784,62353,GYLAPPYPQ,1,11OCT2009,RT,36.00,36.00,CCXINNVXXXKC,Small Appliances
53785,62354,GYLAPPYYW,1,10OCT2009,RT,31.50,31.50,CCXKEUIXXXNC,Mobile Electronic Accessories
53786,62355,GYLPADYQL,1,14OCT2009,RT,59.85,59.85,CCXXUKZXXXNI,Small Appliances
53787,62356,GYLPADYQL,1,14OCT2009,RT,36.00,36.00,CCXXUKZXXXNI,Mobile Electronic Accessories
53788,62357,GYLPADYQL,1,14OCT2009,RT,72.00,72.00,CCXXUKZXXXNI,Small Appliances
53789,62358,GYLPADYQL,1,14OCT2009,RT,72.00,72.00,CCXXUKZXXXNI,Small Appliances
53790,62359,GYLPADYQL,1,14OCT2009,RT,27.00,27.00,CCXXUKZXXXNI,Mobile Electronic Accessories
53791,62360,GYLPADYQL,1,14OCT2009,RT,48.00,48.00,CCXXUKZXXXNI,Small Appliances
53792,62361,GYLPADYQL,1,14OCT2009,RT,66.00,66.00,CCXXUKZXXXNI,Small Appliances
53793,62362,GYLPADYQL,1,14OCT2009,RT,57.00,57.00,CCXXUKZXXXNI,Small Appliances
53794,62364,GYLHWWQGW,1,21NOV2009,RT,36.00,36.00,CCXNCKZXXXVC,Home Audio
53795,62365,GYLHWWQGW,1,21NOV2009,RT,30.00,30.00,CCXNCKZXXXVC,Mobile Electronic Accessories
53796,62366,GYLHWWQGW,1,21NOV2009,RT,28.50,28.50,CCXNCKZXXXVC,Mobile Electronic Accessories
53797,62367,GYLHWWQGW,1,21NOV2009,RT,54.00,54.00,CCXNCKZXXXVC,Mobile Electronic Accessories
53798,62368,GYLHWWQGW,1,21NOV2009,RT,28.50,28.50,CCXNCKZXXXVC,Mobile Electronic Accessories
53799,62369,GYLYSQQSG,1,27NOV2009,RT,27.00,27.00,CCXXNXZXXXNI,Small Appliances
53800,62370,GYLYSQQSG,1,27NOV2009,RT,45.00,45.00,CCXXNXZXXXNI,Small Appliances
53801,62371,GYLYSQQSG,1,27NOV2009,RT,74.85,74.85,CCXXNXZXXXNI,Small Appliances
53802,62372,GYLYSQQSG,1,21NOV2009,RT,62.64,62.64,CCXUVZUXXXKI,Portable Electronics
53803,62373,GYLYSQQSG,1,21NOV2009,RT,299.85,299.85,CCXUVZUXXXKI,Home Audio
53804,62374,GYLYSQQSG,1,29OCT2009,RT,299.85,299.85,CCXIVCCXXXNI,Home Audio
53805,62375,GYLYSQQSG,1,14NOV2009,RT,32.85,32.85,CCXCXIKXXXNI,Mobile Electronic Accessories
53806,62376,GYLYSQQSG,1,14NOV2009,RT,45.00,45.00,CCXCXIKXXXNI,Mobile Electronic Accessories
53807,62377,GYLYSQQSG,1,14NOV2009,RT,15.00,15.00,CCXCXIKXXXNI,Mobile Electronics
53808,62378,GYLYSQQSG,1,29NOV2009,RT,42.00,42.00,CCXCRZEXXXNI,Mobile Electronic Accessories
53809,62379,GYLYSQQSG,1,29NOV2009,RT,74.85,74.85,CCXCRZIXXXNI,Small Appliances
53810,62381,GYGWWHQWW,1,24OCT2009,RT,1199.90,1199.85,CCXKXKRXXXRI,Home Audio

In [41]:
custtrans=pd.read_sql_query("SELECT * FROM xyzcust", engine)

In [42]:
custtrans.head()

,index,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_SUPERCODE
0,0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016
1,1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750
2,2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900
3,3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838
4,4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932

In [43]:
allrttrans=pd.read_sql_query("SELECT * FROM xyztrans", engine)

In [44]:
allrttrans.head()

,index,ACCTNO,QTY,TRANDATE,TRAN_CHANNEL,PRICE,TOTAMT,ORDERNO,DEPTDESCR
0,0,WGDQLA,1,09JUN2009,RT,599.85,599.85,CCXXNNXXXXUX,Home Audio
1,1,WGDQLA,1,09JUN2009,RT,39.00,39.00,CCXXNNXXXXUX,Small Appliances
2,2,WGDQLA,1,28NOV2009,RT,15.00,15.00,CCXNXXKXXXRI,Small Appliances
3,3,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
4,4,WGDQLA,1,28NOV2009,RT,84.00,84.00,CCXNXXKXXXRI,Small Appliances

# Requirements :
<font color='red'>**Note**: For number 1 and 2 below you need to query the database and display the results as a DataFrame. For number 3 you can query the database to get the number of records.</font>
1. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000. 
2. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000 and CHANNEL_ACQUISITION = 'RT' 
3. What is the total number of records in in xyzcust table where YTD_SALES_2009 > 1000, CHANNEL_ACQUISITION = 'RT', and ZIP = 60056

In [43]:
# Write your python code that meets the above requirements in these cells.

In [45]:
# 1. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000. 

ytd_sales_over_1000 = pd.read_sql_query("SELECT * FROM xyzcust WHERE YTD_SALES_2009 > 1000 ORDER BY YTD_SALES_2009", engine)

ytd_sales_over_1000

,index,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_SUPERCODE
0,2212,WHHASQWQD,60084,5024,1779.0,10,1002.0,2,RT,ACTIVE,600845024
1,6898,WPWYQSGYP,60093,3845,1812.0,6,1002.0,4,RT,ACTIVE,600933845
2,14513,WGDYQLAYQ,60091,1370,5880.0,15,1002.0,5,CB,ACTIVE,600911370
3,15142,AQPWQALHY,60091,1525,2205.0,10,1002.0,3,RT,ACTIVE,600911525
4,3777,SLDSHAQ,60068,3773,1917.0,12,1005.0,4,RT,ACTIVE,600683773
5,8991,AWALQWGYY,60056,2068,2967.0,15,1005.0,5,IB,ACTIVE,600562068
6,11762,PAAYSLDQQ,60090,3117,1173.0,4,1005.0,1,RT,ACTIVE,600903117
7,12626,SDWDQDSPY,60062,4429,1374.0,8,1005.0,4,RT,ACTIVE,600624429
8,16060,APQGSQDPH,60093,2114,1956.0,5,1005.0,3,RT,ACTIVE,600932114
9,19623,SLLGHGQLH,60069,3224,1938.0,5,1005.0,1,RT,ACTIVE,600693224
10,23390,PDSSWAQQ,60093,3855,6777.0,13,1005.0,3,CB,ACTIVE,600933855
11,26484,WWGSGAWP,60067,4252,7182.0,20,1005.0,4,RT,ACTIVE,600674252
12,2281,LWALAAAD,60089,8003,6492.0,38,1008.0,7,RT,ACTIVE,600898003
13,10296,WGPLWHSPP,60093,1015,1008.0,1,1008.0,1,IB,ACTIVE,600931015
14,13201,PLPQWDQHG,60062,5236,4113.0,20,1008.0,4,CB,ACTIVE,600625236
15,15318,LYDGSSDY,60090,6979,1992.0,15,1008.0,7,RT,ACTIVE,600906979
16,17099,DAPAGLPS,60074,7134,1755.0,8,1008.0,3,RT,ACTIVE,600747134
17,17498,WHHQSDDLL,60056,3037,1347.0,8,1008.0,5,RT,ACTIVE,600563037
18,28768,GHPSDGDSA,60091,1112,1008.0,1,1008.0,1,IB,ACTIVE,600911112
19,30148,WQDSWAQGG,60074,7042,3897.0,7,1008.0,2,RT,ACTIVE,600747042
20,3936,GGGYGLDSG,60061,4155,1011.0,3,1011.0,3,RT,ACTIVE,600614155
21,10507,AYAGHLAP,60067,4526,3198.0,13,1011.0,1,RT,ACTIVE,600674526
22,14751,YWWSLSA,60069,3226,2898.0,10,1011.0,3,RT,ACTIVE,600693226
23,27604,HYWPPWPP,60091,1276,4674.0,20,1011.0,3,RT,ACTIVE,600911276
24,4249,PLWDHGALA,60068,2642,1653.0,6,1014.0,4,RT,ACTIVE,600682642
25,12268,SWAPYGPLD,60091,2814,3792.0,23,1014.0,8,RT,ACTIVE,600912814
26,25854,WPSSPLDLH,60062,3709,1014.0,4,1014.0,4,RT,ACTIVE,600623709
27,2709,PGYYHAGQW,60062,3557,7977.0,45,1017.0,9,RT,ACTIVE,600623557
28,5145,WLWHALSSQ,60067,1806,2169.0,9,1017.0,4,RT,ACTIVE,600671806
29,6907,HHQPYQYQ,60091,2732,6885.0,18,1017.0,2,RT,ACTIVE,600912732
...,...,...,...,...,...,...,...,...,...,...,...
1603,16937,GWHPDDSS,60067,6617,8628.0,13,7797.0,10,RT,ACTIVE,600676617
1604,4041,LWADQYWYH,60077,1027,17268.0,15,7812.0,6,RT,ACTIVE,600771027
1605,21452,GWPLQQGGY,60067,2242,14190.0,34,7812.0,10,IB,ACTIVE,600672242
1606,4555,SLDQWSQ,60062,4443,27834.0,10,8070.0,2,RT,ACTIVE,600624443
1607,14845,GSPASGYPY,60060,4307,18594.0,14,8520.0,4,RT,ACTIVE,600604307
1608,1142,YPYDPGYA,60084,2734,24102.0,21,8544.0,7,CB,ACTIVE,600842734
1609,27906,ASAHAQYW,60073,3199,9453.0,10,8667.0,7,IB,ACTIVE,600733199
1610,15733,PHQHPHGQW,60089,6696,9924.0,11,8739.0,9,RT,ACTIVE,600896696
1611,3715,SQDQSHDHG,60069,2502,13941.0,8,8931.0,5,RT,ACTIVE,600692502
1612,22142,WQWADQSGD,60093,1440,15810.0,19,9021.0,7,CB,ACTIVE,600931440
1613,5221,WWGGQHS,60062,3507,21636.0,45,9285.0,10,RT,ACTIVE,600623507
1614,19776,SSLYQYWDA,60068,2650,65643.0,27,9453.0,5,IB,ACTIVE,600682650
1615,18798,PQAAWHLQD,60093,1843,19881.0,16,9492.0,7,RT,ACTIVE,600931843
1616,10334,PQGDYASGS,60091,1022,12726.0,11,9504.0,3,RT,ACTIVE,600911022
1617,9544,LALSSHYHD,60093,1563,49302.0,123,9900.0,26,RT,ACTIVE,600931563
1618,20603,ALDGDAQQA,60091,1219,13062.0,17,10005.0,6,IB,ACTIVE,600911219
1619,2397,GLDYDHAHG,60093,2429,20280.0,32,10140.0,12,RT,ACTIVE,600932429
1620,22995,WWGAPALQP,60093,3737,18711.0,10,10242.0,2,RT,ACTIVE,600933737
1621,25095,SDAPWQHLD,60093,3939,40329.0,25,11616.0,7,CB,ACTIVE,600933939
1622,12309,LHSGAAQLH,60084,1102,15240.0,4,11871.0,3,IB,ACTIVE,600841102
1623,8001,PLGWAQQQL,60093,2034,20922.0,32,12012.0,11,IB,ACTIVE,600932034
1624,15547,DYYHYWWD,60068,4505,13410.0,5,12219.0,1,IB,ACTIVE,600684505
1625,27856,WAHHQDHYQ,60093,1426,14991.0,20,12393.0,13,RT,ACTIVE,600931426
1626,1510,LGYYAGQQA,60067,6613,47307.0,48,12684.0,9,RT,ACTIVE,600676613
1627,28226,GQGDSWGYW,60093,3726,19041.0,16,13149.0,6,RT,ACTIVE,600933726
1628,139,SGAHSWLHA,60093,3748,14448.0,5,14448.0,5,RT,ACTIVE,600933748
1629,28822,GPHWLYGHP,60062,7141,16977.0,5,14817.0,4,IB,ACTIVE,600627141
1630,2047,GPGLLLGG,60093,3708,23910.0,8,15273.0,4,IB,ACTIVE,600933708
1631,17695,SAPYPAP,60093,1320,122352.0,34,28002.0,5,CB,ACTIVE,600931320
1632,1872,LLSYGYDAY,60074,0,2247750.0,84,351000.0,19,CB,ACTIVE,600746495

In [46]:
# 2. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000 and CHANNEL_ACQUISITION = 'RT' 

ytd_sales_over_1000_cutsacq_rt = pd.read_sql_query("SELECT * FROM xyzcust WHERE YTD_SALES_2009 > 1000 AND CHANNEL_ACQUISITION = 'RT' ORDER BY YTD_SALES_2009", engine)

ytd_sales_over_1000_cutsacq_rt

,index,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_SUPERCODE
0,2212,WHHASQWQD,60084,5024,1779.0,10,1002.0,2,RT,ACTIVE,600845024
1,6898,WPWYQSGYP,60093,3845,1812.0,6,1002.0,4,RT,ACTIVE,600933845
2,15142,AQPWQALHY,60091,1525,2205.0,10,1002.0,3,RT,ACTIVE,600911525
3,3777,SLDSHAQ,60068,3773,1917.0,12,1005.0,4,RT,ACTIVE,600683773
4,11762,PAAYSLDQQ,60090,3117,1173.0,4,1005.0,1,RT,ACTIVE,600903117
5,12626,SDWDQDSPY,60062,4429,1374.0,8,1005.0,4,RT,ACTIVE,600624429
6,16060,APQGSQDPH,60093,2114,1956.0,5,1005.0,3,RT,ACTIVE,600932114
7,19623,SLLGHGQLH,60069,3224,1938.0,5,1005.0,1,RT,ACTIVE,600693224
8,26484,WWGSGAWP,60067,4252,7182.0,20,1005.0,4,RT,ACTIVE,600674252
9,2281,LWALAAAD,60089,8003,6492.0,38,1008.0,7,RT,ACTIVE,600898003
10,15318,LYDGSSDY,60090,6979,1992.0,15,1008.0,7,RT,ACTIVE,600906979
11,17099,DAPAGLPS,60074,7134,1755.0,8,1008.0,3,RT,ACTIVE,600747134
12,17498,WHHQSDDLL,60056,3037,1347.0,8,1008.0,5,RT,ACTIVE,600563037
13,30148,WQDSWAQGG,60074,7042,3897.0,7,1008.0,2,RT,ACTIVE,600747042
14,3936,GGGYGLDSG,60061,4155,1011.0,3,1011.0,3,RT,ACTIVE,600614155
15,10507,AYAGHLAP,60067,4526,3198.0,13,1011.0,1,RT,ACTIVE,600674526
16,14751,YWWSLSA,60069,3226,2898.0,10,1011.0,3,RT,ACTIVE,600693226
17,27604,HYWPPWPP,60091,1276,4674.0,20,1011.0,3,RT,ACTIVE,600911276
18,4249,PLWDHGALA,60068,2642,1653.0,6,1014.0,4,RT,ACTIVE,600682642
19,12268,SWAPYGPLD,60091,2814,3792.0,23,1014.0,8,RT,ACTIVE,600912814
20,25854,WPSSPLDLH,60062,3709,1014.0,4,1014.0,4,RT,ACTIVE,600623709
21,2709,PGYYHAGQW,60062,3557,7977.0,45,1017.0,9,RT,ACTIVE,600623557
22,5145,WLWHALSSQ,60067,1806,2169.0,9,1017.0,4,RT,ACTIVE,600671806
23,6907,HHQPYQYQ,60091,2732,6885.0,18,1017.0,2,RT,ACTIVE,600912732
24,10738,PYSLQPDAP,60067,7511,1869.0,6,1017.0,3,RT,ACTIVE,600677511
25,21760,PSSHSWHHL,60062,1904,3348.0,5,1017.0,1,RT,ACTIVE,600621904
26,5104,APPQYYYDP,60067,4891,2409.0,9,1020.0,4,RT,ACTIVE,600674891
27,9772,GGLPQQQDD,60091,1140,1020.0,1,1020.0,1,RT,ACTIVE,600911140
28,14511,HLPAYQDP,60070,1600,2397.0,3,1020.0,1,RT,ACTIVE,600701600
29,18722,WSDSDWQGP,60062,4382,1062.0,3,1020.0,2,RT,ACTIVE,600624382
...,...,...,...,...,...,...,...,...,...,...,...
1177,25745,WYSPGPQGP,60093,4249,9564.0,14,6693.0,6,RT,ACTIVE,600934249
1178,9071,DSGDPQAP,60093,1316,23058.0,67,6810.0,15,RT,ACTIVE,600931316
1179,9519,WWHWLGYQA,60093,3605,9525.0,14,6969.0,8,RT,ACTIVE,600933605
1180,7411,WQGGQGSQP,60091,1321,26646.0,43,6975.0,13,RT,ACTIVE,600911321
1181,7278,GYQWPLGQP,60093,1842,8010.0,4,7164.0,3,RT,ACTIVE,600931842
1182,25485,WLPALYSY,60067,630,11727.0,17,7182.0,5,RT,ACTIVE,600670630
1183,18341,WWLYPLHHY,60093,3624,16881.0,38,7221.0,9,RT,ACTIVE,600933624
1184,21893,AQPDYYAHS,60093,2426,14136.0,25,7305.0,10,RT,ACTIVE,600932426
1185,28426,LQSASLGH,60069,3422,10758.0,14,7332.0,8,RT,ACTIVE,600693422
1186,1732,PHYSAGAW,60069,3810,12285.0,22,7338.0,12,RT,ACTIVE,600693810
1187,4188,SLLWSHSGL,60060,9527,10254.0,12,7419.0,2,RT,ACTIVE,600609527
1188,19512,SPYPPDADD,60093,3865,11346.0,15,7446.0,5,RT,ACTIVE,600933865
1189,5406,GAWWWPHDA,60068,3357,7977.0,7,7548.0,5,RT,ACTIVE,600683357
1190,29807,LGPASHSSH,60074,7219,11610.0,9,7791.0,3,RT,ACTIVE,600747219
1191,16937,GWHPDDSS,60067,6617,8628.0,13,7797.0,10,RT,ACTIVE,600676617
1192,4041,LWADQYWYH,60077,1027,17268.0,15,7812.0,6,RT,ACTIVE,600771027
1193,4555,SLDQWSQ,60062,4443,27834.0,10,8070.0,2,RT,ACTIVE,600624443
1194,14845,GSPASGYPY,60060,4307,18594.0,14,8520.0,4,RT,ACTIVE,600604307
1195,15733,PHQHPHGQW,60089,6696,9924.0,11,8739.0,9,RT,ACTIVE,600896696
1196,3715,SQDQSHDHG,60069,2502,13941.0,8,8931.0,5,RT,ACTIVE,600692502
1197,5221,WWGGQHS,60062,3507,21636.0,45,9285.0,10,RT,ACTIVE,600623507
1198,18798,PQAAWHLQD,60093,1843,19881.0,16,9492.0,7,RT,ACTIVE,600931843
1199,10334,PQGDYASGS,60091,1022,12726.0,11,9504.0,3,RT,ACTIVE,600911022
1200,9544,LALSSHYHD,60093,1563,49302.0,123,9900.0,26,RT,ACTIVE,600931563
1201,2397,GLDYDHAHG,60093,2429,20280.0,32,10140.0,12,RT,ACTIVE,600932429
1202,22995,WWGAPALQP,60093,3737,18711.0,10,10242.0,2,RT,ACTIVE,600933737
1203,27856,WAHHQDHYQ,60093,1426,14991.0,20,12393.0,13,RT,ACTIVE,600931426
1204,1510,LGYYAGQQA,60067,6613,47307.0,48,12684.0,9,RT,ACTIVE,600676613
1205,28226,GQGDSWGYW,60093,3726,19041.0,16,13149.0,6,RT,ACTIVE,600933726
1206,139,SGAHSWLHA,60093,3748,14448.0,5,14448.0,5,RT,ACTIVE,600933748

In [47]:
# 3. What is the total number of records in in xyzcust table where YTD_SALES_2009 > 1000, CHANNEL_ACQUISITION = 'RT', and ZIP = 60056

ytd_sales_over_1000_cutsacq_rt_zip_60056 = pd.read_sql_query("SELECT COUNT(ZIP) FROM xyzcust WHERE YTD_SALES_2009 > 1000 AND CHANNEL_ACQUISITION = 'RT' AND ZIP = '60056'", engine)

ytd_sales_over_1000_cutsacq_rt_zip_60056

   COUNT(ZIP)
0          49